{
    "bracketSameLine": false,
    "bracketSpacing": true,
    "objectWrap": "preserve",
    "semi": false,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false
}
