[user]
	email = connectingdotscoding@gmail.com
	name = Christian Gleitze
[push]
	autoSetupRemote = true
	default = current
[core]
	editor = nvim
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
	navigate = true  # with n and N
	dark = true
	line-numbers = true
	side-by-side = false
[merge]
    conflictStyle = zdiff3
[alias]
    st = status
    lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    og = log --pretty=oneline --graph --abbrev-commit
